
.header {
    display: flex;
    background-color: #330033;
    width: 100%;
    height: 4rem;
}

.expand {
    background: none;
    margin: auto;
    position: relative;
    border-radius: 4px 4px 4px 4px;
    transform: scale(1);
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.5s, transform 0.5s;
}
  
  .expand:hover {
    transform: scale(1.05);
    box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
  }

.dropdown-item {
  padding: 0 !important
}

